html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	height: 100%;
}
a {
	text-decoration: none;
}
h1 {
	padding: 0 0 .5em 0;
	margin: 0;
}
/************************************************************************
ANCHORS
************************************************************************/
a[href^="#"]:not(.btn):not(.copyright):before {
	content: "\f0c1";
	font-family: 'FontAwesome';
	font-weight: 100;
	margin-right: .5em;
}
/************************************************************************
DISABLED
************************************************************************/
.disabled {
	cursor: none;
	opacity: .5;
	pointer-events: none;
	user-select: none;
}
/***********************************************************************
CONTENT
***********************************************************************/
.content {
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 auto;
}
/***********************************************************************
FOOTER
***********************************************************************/
/*.footer {*/
/*background-color: #2a2a2a;*/
/*box-shadow: 0 -8px 17px 0 rgba(0, 0, 0, 0.2);*/
/*color: #fff;*/
/*display: flex;*/
/*flex-wrap: wrap;*/
/*flex: 0 0 auto;*/
/*justify-content: space-between;*/
/*padding: 15px;*/
/*}*/
/***********************************************************************
HEADER 
***********************************************************************/
.header {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 0 0 auto;
	z-index: 999;
}
/************************************************************************
CENTER
************************************************************************/
.center {
	background-color: #fff;
	flex: 1 0 auto;
	overflow: hidden;
	padding: .5em 1em;
}
/************************************************************************
RIGHT
************************************************************************/
/*.right {*/
/*padding: .5em;*/
/*background-color: #46b8da;*/
/*flex: 0 0 auto;*/
/*}*/
/************************************************************************
ACCORDION
************************************************************************/
.accordion-section {
	background-color: #2a2a2a;
	border-radius: .25em;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1), 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
	height: 2em;
	margin-bottom: .5em;
	overflow: hidden;
	padding: 0 .5em;
}
.accordion-section:hover {
	background-color: #2a2a2a;
}
.accordion-section h2 {
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
}
.accordion-section h2 > a {
	color: inherit;
	display: block;
	line-height: 2em;
	outline: 0 none;
	text-decoration: none;
}
.accordion-section:target {
	background-color: inherit;
	box-shadow: none;
	height: auto;
	padding: 0 1em .5em 1em;
}
.accordion-section:target h2 {
	font-size: 1.6em;
	color: #2a2a2a;
}
.accordion-section,
.accordion-section h2 {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
/************************************************************************
BUTTON
************************************************************************/
.btn {
	background-color: #4a8af4;
	border-radius: .25em;
	border-width: 0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	color: #fff;
	display: inline-block;
	line-height: 2em;
	outline: none;
	overflow: hidden;
	padding: 0 1em;
	position: relative;
	text-transform: uppercase;
	transition: background-color .3s;
}
.btn:before {
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background-color: rgba(236, 240, 241, .5);
	border-radius: 100%;
	content: "";
	display: block;
	left: 50%;
	padding-top: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 0;
}
.btn:active:before {
	padding-top: 120%;
	transition: width .1s ease-out, padding-top .1s ease-out;
	width: 120%;
}
.btn-yellow {
	background-color: #ffce43;
	color: #2a2a2a;
}
.btn-header {
	width: auto;
	margin: .2em;
	padding: 0 .5em;
}
/************************************************************************
MEDIA
************************************************************************/
@media (max-width: 768px) {
	.content {
		flex-direction: column;
	}
	.header {
		flex-direction: row;
	}
	
}
р1,
#knowledge-title,
#contact-title {
  font-size: 4vw;
  padding: 4vh 0 2vh 0;
  text-align: center;
  text-transform: uppercase;
}
#lebenslauf-title {
  text-shadow: .1vh .1vh 0 #60afe0, .2vh .2vh 0 #60afe0, .3vh .3vh 0 #60afe0, .4vh .4vh 0 #60afe0, .5vh .5vh 0 #60afe0, .6vh .6vh 0 #60afe0, .7vh .7vh 0 #60afe0, .8vh .8vh 0 #60afe0, .9vh .9vh 0 #60afe0, 1vh 1vh 0 #60afe0, 1.2vh 1.2vh 1.2vh #1b3240;
}
#knowledge-title {
  text-shadow: .1vh .1vh 0 #999da2, .2vh .2vh 0 #999da2, .3vh .3vh 0 #999da2, .4vh .4vh 0 #999da2, .5vh .5vh 0 #999da2, .6vh .6vh 0 #999da2, .7vh .7vh 0 #999da2, .8vh .8vh 0 #999da2, .9vh .9vh 0 #999da2, 1vh 1vh 0 #999da2, 1.2vh 1.2vh 1.2vh #1b3240;
}
#contact-title {
  text-shadow: .1vh .1vh 0 #7e91be, .2vh .2vh 0 #7e91be, .3vh .3vh 0 #7e91be, .4vh .4vh 0 #7e91be, .5vh .5vh 0 #7e91be, .6vh .6vh 0 #7e91be, .7vh .7vh 0 #7e91be, .8vh .8vh 0 #7e91be, .9vh .9vh 0 #7e91be, 1vh 1vh 0 #7e91be, 1.2vh 1.2vh 1.2vh #1b3240;
}
#div-about {
          animation: div-about-animation 1s ease-out 1 forwards;
     -moz-animation: div-about-animation 1s ease-out 1 forwards;
  -webkit-animation: div-about-animation 1s ease-out 1 forwards;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHUlEQVQYV2NkYGDwYWBg2MLAwMDACCJgAjAOWAAAMCECUHIQFLwAAAAASUVORK5CYII=') repeat #8fd8cb;
  border: .1vh solid #a7dccc;
  /* background: -webkit-linear-gradient(45deg, transparent, transparent 48%, #64978e 48%, #64978e 52%, transparent 52%) 0% 0%/.6vh .6vh #8fd8cb; */
          border-radius: 4vh 4vh 55vh 4vh;
     -moz-border-radius: 4vh 4vh 55vh 4vh;
  -webkit-border-radius: 4vh 4vh 55vh 4vh;
  box-shadow: .35vh .35vh 0 #3aa189, .6vh .6vh 0 #3aa189, .9vh .9vh 0 #3aa189, 1.2vh 1.2vh 0 #3aa189, 1.5vh 1.5vh 0 #3aa189, 1.7vh 1.7vh 2vh #21322f;
  height: 95vh;
  margin: 1vh 0 4vh 1vw;
  width: 95.5vw;
  /* transform: perspective(150vw) rotateX(5deg); */
}
/* #div-about:hover {
  -moz-animation: div-about-hover-animation .7s ease-out forwards;
  -webkit-animation: div-about-hover-animation .7s ease-out forwards;
  animation: div-about-hover-animation .7s ease-out forwards;
} */
/* @keyframes div-about-hover-animation {
  100% {
    box-shadow: .175vh .175vh 0 #3aa189, .3vh .3vh 0 #3aa189, .45vh .45vh 0 #3aa189, .6vh .6vh 0 #3aa189, .75vh .75vh 0 #3aa189, .85vh .85vh 1vh #21322f;
            transform: perspective(0) rotateX(0);
    -webkit-transform: perspective(0) rotateX(0);
  }
} */
#div-lebenslauf,
#div-knowledge,
#div-contact {
  border-radius: 4vh;
  height: 96vh;
  margin: 1vh 0 4vh 1vw;
  width: 95.5vw;
}
#div-lebenslauf {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHUlEQVQYV2NkYGDwYWBg2MLAwMDACCJgAjAOWAAAMCECUHIQFLwAAAAASUVORK5CYII=') repeat #5ca9e2;
  /* background: -webkit-linear-gradient(45deg, transparent, transparent 48%, rgba(0, 0, 0, .3) 48%, rgba(0, 0, 0, .3) 52%, transparent 52%) 0% 0%/.6vh .6vh #5ca9e2; */
  border: .1vh solid #6cb4e4;
  box-shadow: .35vh .35vh 0 #2074b0, .6vh .6vh 0 #2074b0, .9vh .9vh 0 #2074b0, 1.2vh 1.2vh 0 #2074b0, 1.5vh 1.5vh 0 #2074b0, 1.7vh 1.7vh 2vh #103a5a;
}
